.no-spinner {
  -moz-appearance: textfield;
  width: 40px;
  font-size: 18px;
  transition: opacity 0.3s, transform 0.3s;
}

.input-style {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.innerDetailsInput {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ageButton {
  width: 50px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 35px;
  border: none;
  outline: none;
  opacity: 0.8;
  transition: transform 0.1s;
}

.ageButton.clicked {
  transform: scale(1.05);
}

.right-align {
  text-align: right;
}

.animate-increment {
  animation: incrementAnimation 0.1s forwards;
}

.animate-decrement {
  animation: decrementAnimation 0.1s forwards;
}

@keyframes incrementAnimation {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes decrementAnimation {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.ages {
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 10px;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-invalid {
  animation: shake 0.3s;
}
