.smoke {
  width: 40%;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

/* smoking.css */
.smoke span {
  display: inline-block;
  transition: opacity 0.1s ease-in-out;
  opacity: 1;
}

.smoke span.fade-out {
  opacity: 0;
}

.output {
  font-size: 16px;
}
