.Input {
  text-align: center;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.box {
  position: absolute;
  left: -100%;
  width: 80%;
  height: auto;
  background-color: lightblue;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease-in-out;
}

.box.visible {
  transform: translateX(100%);
}
.innerDetailsInput p {
  margin-right: 10px;
}

.innerDetailsInput {
  margin-bottom: 10px;
}

/* .innerDetailsInput input {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.03);
  padding: 10px;
  border: none;
  outline: none;
  background-image: linear-gradient(
    to bottom,
    transparent,
    transparent calc(100% - 1px),
    rgba(0, 0, 0, 0.5) 1px
  );
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: left bottom;
  transition: background-size 0.3s ease-out, box-shadow 0.3s,
    background-color 0.3s;
} */

/* .innerDetailsInput input:focus {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  background-size: 0 1px;
  background-color: rgba(0, 0, 0, 0);
} */

.innerDetailsInput {
  display: flex;
  height: auto;
  vertical-align: middle;
}
