.mbtiGroup {
  display: flex;
  flex-direction: column;
}

.mbtiGroup .mbtiRow {
  flex-direction: row;
  display: flex;
}

.radioGroup {
  flex-direction: row;
  display: flex;
}

.mbtiGroup .mbtiDescription {
  margin-top: -10px;
  text-align: center;
}

.mbtiGroup .mbtiRow .myMbti {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  width: 100px;
  margin: -5px 0 -10px 0;
}

.smallMbtiGroup {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: 18px;
  margin-right: 3px;
}

.smallMbtiGroup label {
  margin-right: 10px;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  user-select: none;
}

.smallMbtiGroup input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.smallMbtiGroup .custom-radio {
  position: absolute;
  top: 6px;
  left: 4px;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 20%;
  transition: 0.2s;
}

.smallMbtiGroup input:checked ~ .custom-radio {
  background-color: #8a1601;
  transition: 0.2s;
}

.smallMbtiGroup .custom-radio:after {
  content: "";
  position: absolute;
  display: none;
  transition: 0.2s;
}

.smallMbtiGroup input:checked ~ .custom-radio:after {
  display: block;
  transition: 0.2s;
}

.smallMbtiGroup .custom-radio:after {
  top: 4.5px;
  left: 4.5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
  transition: 0.3s;
}
