.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.time-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.time-container label {
  font-size: 18px;
  font-weight: bold;
}

.time-container span {
  font-size: 18px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.time-button {
  width: 30px;
  height: 30px;
  font-size: 20px;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  scale: 1.1;
  transition: 0.3s;
  margin-left: 10px;
}

.animate-increment {
  animation: incrementAnimation 0.1s forwards;
}

.animate-decrement {
  animation: decrementAnimation 0.1s forwards;
}

@keyframes incrementAnimation {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes decrementAnimation {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-invalid {
  animation: shake 0.3s;
}
